<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- <context:component-scan base-package="com.jeremy"></context:component-scan>  -->  

	
	<bean id="dmsDocumentDao" class="com.jeremy.dms.dao.DmsDocumentDao"/>

	<!-- 定义切面类 -->
	<bean id="dmsAspect" class="com.jeremy.dms.DmsAspect"></bean>

	<!-- 启用AspectJ自动代理 -->	
	<aop:aspectj-autoproxy/>
	
	<!-- 配置切面 -->
	<aop:config>
		<!-- 定义切点函数 -->
		<aop:pointcut expression="execution(** com.jeremy.dms.dao.DmsDocumentDao.insert(..))" id="daoPointcut"/>
		<aop:aspect ref="dmsAspect">
			
			<!-- 前置通知 -->
			<aop:before method="before" pointcut-ref="daoPointcut" arg-names="arg"/>
			
			<!-- 后置通知 -->
			<aop:after-returning method="afterReturn" pointcut-ref="daoPointcut" returning="returnVal"/>
			
			<!-- 环绕通知 -->
			<aop:around method="around" pointcut-ref="daoPointcut" arg-names="joinPoint"/>
			
			<!-- 异常通知 -->
			<aop:after-throwing method="afterThrowing" pointcut-ref="daoPointcut" throwing="throwable"/>
			
			<!-- 后置通知 -->
			<aop:after method="after" pointcut-ref="daoPointcut" />
		</aop:aspect>
		
	</aop:config>
	
	
	<bean name="dmsDocument" class="com.jeremy.dms.bean.DmsDocument"
		init-method="init" destroy-method="destroy">
		<property name="id" value="2"></property>
		<property name="documentName" value="评估申请单"></property>
	</bean>

	<!-- <bean id="dmsDocumentRegistry" class="com.jeremy.dms.DmsDocumentRegistry" >
		<property name="dmsDocumentService" ref="dmsDocumentService"></property>
	</bean>

	<bean id="dmsDocumentService" class="com.jeremy.dms.DmsDocumentService">
	</bean> -->

	<!-- <bean id="applicationContextWapper" class="com.jeremy.ApplicationContextWapper"></bean> -->
</beans>