<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:touna="http://credit.touna.cn/schema/touna" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://credit.touna.cn/schema/touna 
           http://credit.touna.cn/schema/touna/touna.xsd">

	<!-- 业务Dao类 -->
<!-- 	<bean id="dmsDocumentDao" class="com.jeremy.dms.dao.DmsDocumentDao"/>
 -->
	<!-- 定义切面类 -->
	<!-- <bean id="dmsAspect" class="com.jeremy.dms.DmsAspect"></bean> -->

	<touna:apply id="xxxxapply" siteCode="0001" productCode="P001" loanWay="押证" repayment="等本等息" />
	<touna:customer id="xxxxcustomer" name="张三" idCardNo="3337772sxx" gender="男" nation="汉" address="广东深圳" />
	
</beans>